<template>
<div class="card mb-5">
    <ul class="card-header">
        <li class="d-flex justify-content-around">
        <div class="p-2 bd-highlight" id="orderId"></div>
            <div class="p-2 bd-highlight" id="orderUserAddress"></div>
            <div class="p-2 bd-highlight" id="orderShipmentDate"></div>
            <div class="p-2 bd-highlight" id="orderSeller"></div>
            <div class="p-2 bd-highlight" id="orderTotal"></div>
        </li>
    </ul>
    <ul class="list-group list-group-flush" id="orderPurchasesContainer"></ul>
</div>
</template>