@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.whiteicon {
	color: white !important;
}

a:hover {
	color: unset !important;
	background-color: rgba(255, 255, 255, 0.2) !important;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0px !important;
}

.fullheight {
    height: 50px;
}